{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="{% static 'diseases/home.css' %}">
</head>
<body>

 
<div class="main-container">
  <div class="heading">
    <h1 class="heading__title">Disease Detection System</h1>
    <!-- <p class="heading__credits"><a class="heading__link" target="_blank" href="https://dribbble.com/sl">Design by Simon Lurwer on Dribbble</a></p> -->
  </div>
  <div class="cards">
    <div class="card card-1">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">Heart Disease Detection</h2>
      <p class="card__apply">
        <a class="card__link" href="http://127.0.0.1:7000/">Check Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-2">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">Kidney Disease Detection</h2>
      <p class="card__apply">
        <a class="card__link" href="http://127.0.0.1:7000/kidney">Check Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-3">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">Liver Disease Detection</h2>
      <p class="card__apply">
        <a class="card__link" href="http://127.0.0.1:7000/liver">Check Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-4">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">Brain Tumor Disease Detection</h2>
      <p class="card__apply">
        <a class="card__link" href="http://127.0.0.1:5000/">Check Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-5">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">Alzheimer Disease Detection</h2>
      <p class="card__apply">
        <a class="card__link" href="#">Check Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-1">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">X-Ray Fracture Detection</h2>
      <p class="card__apply">
        <a class="card__link" href="#">Check Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
  </div>
</div>
    
</body>
</html>